<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>

<h2>Registration Form</h2>

<form method="POST">
    {% csrf_token %}

    <label>Full Name</label><br>
    {{form.full_name}}
    {{ form.full_name.errors }}

    <br><br>

    <label>Email</label><br>
    <input type="email" name="email">
    {{ form.email.errors }}

    <br><br>

    <label>Password</label><br>
    <input type="password" name="password">
    <br>
    {{ form.password.errors }}

    <br><br>

    <input type="submit" value="Register">

</form>

</body>
</html>
